/* Estilos para el sidebar */
.sidebar {
  width: 80px; /* Ancho contraído */
  background-color: #1C1a19;
  color: rgb(255, 255, 255);
  padding: 10px;
  position: fixed;
  height: 100%;
  box-shadow: 0px 0 50px #28143A;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

.sidebar:hover {
  width: 220px;
  z-index: 1001;
}

.sidebar-header {
  display: none;
}

.sidebar-menu {
  margin-top: 10px;
}

.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px;
  cursor: pointer;
  font-size: 1.4rem; /* Aumentar tamaño de la letra */
  margin: 8px 0;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevenir que el texto se envuelva */
  background-color: #1b1a1b; /* Fondo coherente */
  color: #8555B4; /* Texto morado */
}

/* Ocultar el texto en estado contraído */
.sidebar-menu li span {
  display: none;
}

.sidebar-menu li:hover {
  background-color: #8555B4;
  color: #fff; /* Color blanco en el texto cuando el item está en hover */
}

.sidebar-menu li svg {
  margin: 0;
  font-size: 1.50rem; /* Aumentar tamaño del icono */
  color: #8555B4; /* Icono morado */
  transition: color 0.3s ease;
}

/* Cambiar color de los iconos cuando el item está en hover */
.sidebar-menu li:hover svg {
  color: #fff; /* Los iconos se vuelven blancos en hover */
}

/* Mostrar texto y logo cuando se expande */
.sidebar:hover .sidebar-header {
  display: flex;
}

.sidebar:hover .sidebar-menu li span {
  display: inline;
  font-size: 1.2rem; /* Aumentar tamaño del texto al expandirse */
}

/* Asegurarse de que el contenido no se desborde */
.sidebar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-menu li {
  overflow: hidden;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 600px) {
  .sidebar {
    width: 60px; /* Ajustar ancho en pantallas pequeñas */
  }

  .sidebar:hover {
    width: 200px; /* Ajustar ancho expandido en pantallas pequeñas */
  }

  .sidebar-menu li {
    font-size: 1.2rem; /* Ajustar tamaño de la letra */
    padding: 8px; /* Ajustar padding */
  }

  .sidebar-menu li svg {
    font-size: 1.2rem; /* Ajustar tamaño del icono */
  }

  .sidebar-menu li:hover {
    background-color: #6a1b9a; /* Ajustar color de fondo en hover */
  }

  .sidebar-header {
    font-size: 1rem; /* Ajustar tamaño del texto del header */
  }

  .sidebar:hover .sidebar-menu li span {
    font-size: 1rem; /* Ajustar tamaño del texto expandido */
  }
}
