.sidebar {
  width: 80px; 
  background-color: #1C1a19;
  color: rgb(255, 255, 255);
  padding: 10px;
  position: fixed;
  height: 100%;
  box-shadow: 0px 0 50px #28143A;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

.sidebar:hover {
  width: 220px;
  z-index: 1001;
}

.sidebar-header {
  display: none;
}

.sidebar-menu {
  margin-top: 10px;
}

.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px;
  cursor: pointer;
  font-size: 1.4rem; 
  margin: 8px 0;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  white-space: nowrap; 
  background-color: #1b1a1b; 
  color: #8555B4; 
}

.sidebar-menu li span {
  display: none;
}

.sidebar-menu li:hover {
  background-color: #8555B4;
  color: #fff;
}

.sidebar-menu li svg {
  margin: 0;
  font-size: 1.50rem; 
  color: #8555B4; 
  transition: color 0.3s ease;
}

.sidebar-menu li:hover svg {
  color: #fff; 
}

.sidebar:hover .sidebar-header {
  display: flex;
}

.sidebar:hover .sidebar-menu li span {
  display: inline;
  font-size: 1.2rem; 
}

.sidebar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-menu li {
  overflow: hidden;
}

@media (max-width: 600px) {
  .sidebar {
    width: 60px; 
  }

  .sidebar:hover {
    width: 200px; 
  }

  .sidebar-menu li {
    font-size: 1.2rem; 
    padding: 8px; 
  }

  .sidebar-menu li svg {
    font-size: 1.2rem; 
  }

  .sidebar-menu li:hover {
    background-color: #6a1b9a; 
  }

  .sidebar-header {
    font-size: 1rem; 
  }

  .sidebar:hover .sidebar-menu li span {
    font-size: 1rem; 
  }
}
