<p>Hola, Cinefilo</p>
<p>Pago Confirmado. Gracias por su compra. Aquí están los detalles de su transacción:</p>
<ul>
  <li>Monto: {{ monto }}</li>
  <li>Fecha: {{ fecha }}</li>
  <li>Referencia de Transacción: {{ referencia }}</li>
</ul>
<p>¡Gracias por su preferencia!</p>