<p>Hola, Cinefilo</p>
<p>Su pago ha sido rechazado. Aquí están los detalles de la transacción que registró:</p>
<ul>
  <li>Monto: {{ monto }}</li>
  <li>Fecha: {{ fecha }}</li>
  <li>Referencia de Transacción: {{ referencia }}</li>
</ul>
<p>Para cualquier reclamo o inquietud, Ponganse en contacto con nosotros</p>